.gray {
  background-color: lightgray;
}

.white {
  background-color: white;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}