@font-face {
  font-family: KoHo;
  src: url(https://fonts.googleapis.com/css?family=KoHo);
}

html {
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: Koho;
}

h1 {
  color: #AA0634;
  font-weight: bold;
  font-size: 48px;
}